#CreateAccountForm {
    margin-left: 5rem;
    margin-right: 5rem;
}

#CreateAccountTitle {
    text-align: center;
    color:dodgerblue;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
